curate/tests/data/parser/sequence_absent/group/unbounded.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="seq1">
        <xs:sequence minOccurs="2" maxOccurs="unbounded">
            <xs:group ref="grp0" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:group name="grp0">
        <xs:sequence>
            <xs:element name="id1" type="xs:string"/>
        </xs:sequence>
    </xs:group>
</xs:schema>