curate/tests/data/parser/utils/annotation/annot.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="root">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>MDCS annotation removal test</xs:documentation>
      </xs:annotation>
      <xs:element name="a" type="xs:string"/>
      <xs:element name="b" type="xs:string"/>
      <xs:element name="c" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>