utils/XSDParser/tests/data/parser/element/complex_type/unbounded.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root" type="complex"/>

    <xs:complexType name="complex">
        <xs:sequence>
            <xs:element minOccurs="2" maxOccurs="unbounded" name="id1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="child0" type="xs:string"/>
                        <xs:element name="child1" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
