utils/XSDParser/tests/data/parser/sequence/choice/unbounded.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root" type="complex"/>

    <xs:complexType name="complex">
        <xs:sequence minOccurs="2" maxOccurs="unbounded">
            <xs:choice>
                <xs:element name="id20" type="xs:string"/>
                <xs:element name="id21" type="xs:string"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>