curate/tests/data/parser/simple_content/restriction/basic.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root" type="complex"/>

    <xs:complexType name="complex">
        <xs:simpleContent>
            <xs:restriction base="element" >
                <xs:enumeration value="child0"/>
                <xs:enumeration value="child1"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="element">
        <xs:simpleContent>
            <xs:extension base="xs:string">
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>
