curate/tests/data/parser/element_absent/complex_type/basic.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="id1">
        <complexType>
            <sequence>
                <element name="child0" type="string"/>
                <element name="child1" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>
