utils/XSDParser/tests/data/parser/extension/all/basic.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="base1">
        <xs:attribute name="attr1" />
    </xs:complexType>

    <xs:element name="test1">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="base1">
                    <xs:all>
                        <xs:element name="child0" type="xs:string"/>
                        <xs:element name="child1" type="xs:string"/>
                    </xs:all>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
