utils/XSDParser/tests/data/parser/utils/xpath/imbricated.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="root">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="a" type="xs:string"/>
      <xs:choice>
        <xs:element name="b" type="xs:int"/>
        <xs:element name="c" type="xs:string"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
</xs:schema>