utils/XSDParser/tests/data/parser/utils/xpath/ref_local.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="root">
    <xs:sequence>
      <xs:element name="a" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element ref="r0" />
      <xs:element ref="r0" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="r0" type="xs:string" />
</xs:schema>