utils/XMLValidation/tests/data/no_root.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
    <xs:complexType name="Root"> 
       <xs:sequence>
           <xs:element name="a"/>
           <xs:element name="b"/>
       </xs:sequence> 
    </xs:complexType>
</xs:schema>