utils/XSDParser/tests/data/parser/sequence_absent/choice/unbounded.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="complex">
        <sequence minOccurs="2" maxOccurs="unbounded">
            <choice>
                <element name="id20" type="string"/>
                <element name="id21" type="string"/>
            </choice>
        </sequence>
    </complexType>
</schema>