utils/XSDParser/tests/data/parser/element_absent/complex_keyref/unbounded.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element minOccurs="2" maxOccurs="unbounded" name="id10">
        <complexType>
            <sequence>
                <element name="child0" type="string"/>
                <element name="child1" type="string"/>
            </sequence>
        </complexType>
        <keyref name="ky10" refer="pNumKey">
            <selector xpath="id4"/>
            <field xpath="@ref-number"/>
        </keyref>
    </element>
</schema>
