utils/XSDParser/tests/data/parser/complex_type/all/basic.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root" type="complex"/>

    <xs:complexType name="complex">
        <xs:all>
            <xs:element name="child0" type="xs:string"/>
            <xs:element name="child1" type="xs:string"/>
        </xs:all>
    </xs:complexType>
</xs:schema>
