utils/XSDParser/tests/data/parser/schema/namespace/element/8_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="namespace">
    <element name="root">
        <complexType>
            <sequence>
                <element name="child">
                    <complexType>
                        <simpleContent>
                            <extension base="string">
                                <attribute name="attr"/>                    
                            </extension>
                        </simpleContent>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
