curate/tests/data/parser/element_absent/complex_key/basic.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="id9">
        <complexType>
            <sequence>
                <element name="child0" type="string"/>
                <element name="child1" type="string"/>
            </sequence>
        </complexType>
        <key name="pNumKey">
            <selector xpath="id3"/>
            <field xpath="@key-number"/>
        </key>
    </element>
</schema>
