curate/tests/data/parser/element/complex_keyref/basic.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="id10">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="child0" type="xs:string"/>
                <xs:element name="child1" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
        <xs:keyref name="ky10" refer="pNumKey">
            <xs:selector xpath="id4"/>
            <xs:field xpath="@ref-number"/>
        </xs:keyref>
    </xs:element>
</xs:schema>
