utils/XSDParser/tests/data/parser/element/complex_key/basic.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="id9">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="child0" type="xs:string"/>
                <xs:element name="child1" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="pNumKey">
            <xs:selector xpath="id3"/>
            <xs:field xpath="@key-number"/>
        </xs:key>
    </xs:element>
</xs:schema>
