utils/XSDParser/tests/data/parser/choice/choice/basic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="root" type="complex"/>

    <xs:complexType name="complex">
        <xs:choice>
            <xs:choice>
                <xs:element name="a" type="xs:string"/>
                <xs:element name="b" type="xs:string"/>
            </xs:choice>
        </xs:choice>
    </xs:complexType>
</xs:schema>