static/resources/xsd/templates/demo-simple-spreadsheet.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
    elementFormDefault="unqualified">

    <xsd:element name="spreadsheet">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="name" type="xsd:string"/>
                <xsd:element minOccurs="0" name="keyword" type="xsd:string" maxOccurs="unbounded"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="table"
                    type="spreadsheet-type"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="spreadsheet-type" ns0:_mod_mdcs_="/diffusion/upload-excel"
        xmlns:ns0="http://mdcs.ns">
        <xsd:sequence>
            <xsd:element name="headers">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="column" type="Column"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="rows">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="row">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded" name="column" type="Column"/>
                                </xsd:sequence>
                                <xsd:attribute name="id" type="xsd:string" use="required"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="Column">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>
