curate/tests/data/parser/element_absent/complex_unique/unbounded.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element minOccurs="2" maxOccurs="unbounded" name="id8">
        <complexType>
            <sequence>
                <element name="child0" type="string"/>
                <element name="child1" type="string"/>
            </sequence>
        </complexType>
        <unique name="test">
            <selector xpath="test"/>
            <field xpath="@CustomerID"/>
        </unique>
    </element>
</schema>
